<div class="d-flex flex-column p-3 bg-light" style="height: 100%; position: fixed; width: 25%; margin-top: 3%; overflow-y: auto;">
  <ul class="nav nav-pills flex-column mb-auto">



    <li class="nav-item" (click)="changeView('dashboard')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'dashboard'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 20 20 ">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
        </svg>
        Dashboard
      </a>
    </li>

    <hr>

    <h6 class="text-center">Pesquisas</h6>

    <!--
    <li class="nav-item" (click)="changeView('netValueByYearAndMonth')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'netValueByYearAndMonth'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Valor líquido por ano e mês
      </a>
    </li>
    -->

    <li class="nav-item" (click)="changeView('salesPerMonth')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'salesPerMonth'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Vendas por Mês
      </a>
    </li>

    <li class="nav-item" (click)="changeView('salesForCity')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'salesForCity'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Vendas por Cidade
      </a>
    </li>

    <hr>

    <h6 class="text-center">Listagens</h6>

    <li class="nav-item" (click)="changeView('customers')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'customers'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Clientes
      </a>
    </li>

    <li class="nav-item" (click)="changeView('products')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'products'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Produtos
      </a>
    </li>

    <!--
    <li class="nav-item" (click)="changeView('grossPerMonth')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'grossPerMonth'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Rendimento Bruto P/Mês
      </a>
    </li>
    <li class="nav-item" (click)="changeView('grossPerCustomer')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'grossPerCustomer'}"  aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Rendimento Bruto P/Cliente
      </a>
    </li>
    <li class="nav-item" (click)="changeView('paymentMethods')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'paymentMethods'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Métodos de Pagamento
      </a>
    </li>
    <li class="nav-item" (click)="changeView('salesPerWeekDay')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'salesPerWeekDay'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Vendas por dia da semana
      </a>
    </li>
    <li class="nav-item" (click)="changeView('salesPerCity')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'salesPerCity'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Vendas por cidade
      </a>
    </li>
    <li class="nav-item" (click)="changeView('taxPayed')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'taxPayed'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Taxa Paga
      </a>
    </li>
    <li class="nav-item" (click)="changeView('percSalesForeign')">
      <a href="#" class="nav-link" [ngClass]="{'active': view === 'percSalesForeign'}" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Percentagem venda para fora
      </a>
    </li>

    -->

  </ul>
</div>


