
<div class="container" style="padding: 2%;">


    <!-- @if (view === 'dashboard') {-->

    <!-- Cards

    <div class="row" style="margin-top: 5%;" >
        <div class="col">
                <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h1 class="card-title text-center">{{numCustomers?.total_clients}}</h1>
                          <p class="card-text text-center">TOTAL CLIENTES</p>
                        </div>
                </div>
        </div>
        <div class="col">
                <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h1 class="card-title text-center">{{numProducts}}</h1>
                          <p class="card-text text-center">TOTAL PRODUTOS</p>
                        </div>
                </div>
        </div>
        <div class="col">
                <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Primary card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
        </div>
        <div class="col">
                <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Primary card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
        </div>
    </div>



    <div class="row" style="margin: 5% ;">
      <div class="col">
        <div class="container text-center">
          <canvas baseChart
                  [data]="dashboardForeign_Data"
                  [options]="dashboardForeign_Options"
                  [type]="dashboardForeign_Type">
          </canvas>
        </div>
      </div>
      <div class="col">
      </div>
    </div>

    -->

  <!-- }-->

  <!-- Fact Tables -->


  <!-- @if (view === 'netValueByYearAndMonth') { -->

<div class="container" style="margin-top: 5%; padding: 2%;">

  <h1 class="text-center">Dashboard</h1>

  <br>

  <div class="row">

    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Vendas Por Mês</h6>

        <div class="card text-center border-success">
          <div class="card-body">
            <h1 class="card-title text-center text-success"><b>{{time_netTotal}} €</b></h1>
          </div>
        </div>

        <ul class="list-group" style="margin: 5%;">
          <li class="list-group-item text-center">Produto mais vendido</li>
          <li class="list-group-item">{{time_mostSale_product}}</li>
          <li class="list-group-item">Vendas: {{time_mostSale_count}}</li>
        </ul>


        <div class="card-body">

          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text " id="basic-addon1">Ano</span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="inputYear" placeholder="" >
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mês</span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="inputMonth" min="1" max="12" placeholder="">
              </div>
            </div>
          </div>

            <div class="text-center">
            <button type="button" class="btn btn-info" (click)="getNetValuePerYearAndMonth_sk(inputYear, inputMonth)">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Vendas Por Cidade</h6>

        <div class="card text-center border-success">
          <div class="card-body">
            <h1 class="card-title text-center text-success"><b>{{ city_netTotal }} €</b></h1>
          </div>
        </div>


        <ul class="list-group" style="margin: 5%;">
          <li class="list-group-item text-center">Produto mais vendido</li>
          <li class="list-group-item">{{city_mostSale_product}}</li>
          <li class="list-group-item">Vendas: {{city_mostSale_count}}</li>
        </ul>


        <div class="card-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Cidade</span>
            </div>
            <select class="form-control" [(ngModel)]="selectedCity">
              <option *ngFor="let cidade of salesForCity_Data.labels" [value]="cidade">{{ cidade }}</option>
            </select>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info" (click)="getSalesForCity_sk(selectedCity)">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Vendas Por Produto</h6>

        <div class="card text-center border-success">
          <div class="card-body">
            <h1 class="card-title text-center text-success"><b>{{ product_netTotal }} €</b></h1>
          </div>
        </div>


        <div class="card-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Produto</span>
            </div>
            <select class="form-control" [(ngModel)]="selectedProduct">
              <option *ngFor="let product of products" [value]="product.description">{{ product.description }}</option>
            </select>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info" (click)="getSalesForProduct_sk(selectedProduct)">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="row" style="margin-top: 5%;">


    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Vendas Por Mês e Cidade</h6>

        <div class="card text-center border-success">
          <div class="card-body">
            <h1 class="card-title text-center text-success"><b>{{ timeCity_netTotal }} €</b></h1>
          </div>
        </div>

        <ul class="list-group" style="margin: 5%;">
          <li class="list-group-item text-center">Produto mais vendido</li>
          <li class="list-group-item">{{timeCity_mostSale_product}}</li>
          <li class="list-group-item">Vendas: {{timeCity_mostSale_count}}</li>
        </ul>


        <div class="card-body">

          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Ano</span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="timeCity_year_selected" placeholder="" >
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mês</span>
                </div>
                <input type="number" class="form-control" min="1" max="12" [(ngModel)]="timeCity_month_selected" placeholder="">
              </div>
            </div>
          </div>


          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Cidade</span>
            </div>
            <select class="form-control" [(ngModel)]="timeCity_city_selected">
              <option *ngFor="let cidade of salesForCity_Data.labels" [value]="cidade">{{ cidade }}</option>
            </select>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info" (click)="getSalesForTimeAndCity_sk(timeCity_year_selected, timeCity_month_selected, timeCity_city_selected)">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Vendas Por Mês e Produto</h6>

        <div class="card text-center border-success">
          <div class="card-body">
            <h1 class="card-title text-center text-success"><b>{{ timeProduct_netTotal }} €</b></h1>
          </div>
        </div>


        <div class="card-body">

          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Ano</span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="timeProduct_year_selected" placeholder="" >
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mês</span>
                </div>
                <input type="number" class="form-control" min="1" max="12" [(ngModel)]="timeProduct_month_selected" placeholder="">
              </div>
            </div>
          </div>



          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Produto</span>
            </div>
            <select class="form-control" [(ngModel)]="timeProduct_product_selected">
              <option *ngFor="let product of products" [value]="product.description">{{ product.description }}</option>
            </select>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info" (click)="getSalesForTimeAndProduct_sk(timeProduct_year_selected, timeProduct_month_selected, timeProduct_product_selected)">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Vendas Por Produto e Cidade</h6>

        <div class="card text-center border-success">
          <div class="card-body">
            <h1 class="card-title text-center text-success"><b>{{ cityProduct_netTotal }} €</b></h1>
          </div>
        </div>


        <div class="card-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Produto</span>
            </div>
            <select class="form-control" [(ngModel)]="cityProduct_product_selected">
              <option *ngFor="let product of products" [value]="product.description">{{ product.description }}</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Cidade</span>
            </div>
            <select class="form-control" [(ngModel)]="cityProduct_city_selected">
              <option *ngFor="let cidade of salesForCity_Data.labels" [value]="cidade">{{ cidade }}</option>
            </select>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info" (click)="getSalesForProductAndCity_sk(cityProduct_product_selected, cityProduct_city_selected)">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="margin-top: 5%;">
    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Vendas Por Ano</h6>

        <div class="card text-center border-success">
          <div class="card-body">
            <h1 class="card-title text-center text-success"><b>{{year_netTotal}} €</b></h1>
          </div>
        </div>


        <div class="card-body">

          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text " id="basic-addon1">Ano</span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="input_PerYear" placeholder="" >
              </div>
            </div>
          </div>

            <div class="text-center">
            <button type="button" class="btn btn-info" (click)="getNetValuePerYear_sk(input_PerYear)">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Vendas Por Produto, Cidade e Mês</h6>

        <div class="card text-center border-success">
          <div class="card-body">
            <h1 class="card-title text-center text-success"><b>{{ cityProductTime_netTotal }} €</b></h1>
          </div>
        </div>


        <div class="card-body">

          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Ano</span>
                </div>
                <input type="number" class="form-control" [(ngModel)]="cityProductTime_year_selected" placeholder="" >
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mês</span>
                </div>
                <input type="number" class="form-control" min="1" max="12" [(ngModel)]="cityProductTime_month_selected" placeholder="">
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Produto</span>
            </div>
            <select class="form-control" [(ngModel)]="cityProductTime_product_selected">
              <option *ngFor="let product of products" [value]="product.description">{{ product.description }}</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Cidade</span>
            </div>
            <select class="form-control" [(ngModel)]="cityProductTime_city_selected">
              <option *ngFor="let cidade of salesForCity_Data.labels" [value]="cidade">{{ cidade }}</option>
            </select>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info" (click)="getSalesForProductAndCityAndTime_sk(cityProductTime_product_selected, cityProductTime_city_selected, cityProductTime_year_selected, cityProductTime_month_selected)">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="margin: 5%;">
        <br>

        <h6 class="card-title text-center">Produto Mais vendido</h6>

          <div class="card-body text-center">
            <h4><b>{{ mostSaleProduct_product }}</b></h4>
            <br>
            <b>Vendas: {{ mostSaleProduct_count }}</b>
          </div>

      </div>
    </div>
  </div>






  <!-- Duplicado -->


    <!-- Vendas Por Mês
    <div class="text-center">
      <h4>Vendas Por Mês</h4>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Ano</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="inputYear" placeholder="" >
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Mês</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="inputMonth" min="1" max="12" placeholder="">
        </div>
          <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="getNetValuePerYearAndMonth_sk(inputYear, inputMonth)">Pesquisar</button>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h1 class="card-title text-center">{{time_netTotal}} €</h1>
            <p class="card-text text-center">Total Vendas</p>
          </div>
        </div>
      </div>
    </div>
    -->

    <!-- Vendas Por Cidade
    <div class="text-center" style="margin-top: 10%;">
      <h4>Vendas Por Cidade</h4>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cidade</span>
          </div>
          <select class="form-control" [(ngModel)]="selectedCity">
            <option *ngFor="let cidade of salesForCity_Data.labels" [value]="cidade">{{ cidade }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="getSalesForCity_sk(selectedCity)">Pesquisar</button>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h1 class="card-title text-center">{{ city_netTotal }} €</h1>
            <p class="card-text text-center">Total Vendas</p>
          </div>
        </div>
      </div>
    </div>
    -->

    <!-- Vendas Por Produto
    <div class="text-center" style="margin-top: 10%;">
      <h4>Vendas Por Produto</h4>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Produto</span>
          </div>
          <select class="form-control" [(ngModel)]="selectedProduct">
            <option *ngFor="let product of products" [value]="product.description">{{ product.description }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="getSalesForProduct_sk(selectedProduct)">Pesquisar</button>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h1 class="card-title text-center">{{ product_netTotal }} €</h1>
            <p class="card-text text-center">Total Vendas</p>
          </div>
        </div>
      </div>
    </div>
    -->


    <!-- Vendas Mês e Cidade
    <div class="text-center" style="margin-top: 10%;">
      <h4>Vendas Por Mês e Cidade</h4>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Ano</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="timeCity_year_selected" placeholder="" >
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Mês</span>
          </div>
          <input type="number" class="form-control" min="1" max="12" [(ngModel)]="timeCity_month_selected" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cidade</span>
          </div>
          <select class="form-control" [(ngModel)]="timeCity_city_selected">
            <option *ngFor="let cidade of salesForCity_Data.labels" [value]="cidade">{{ cidade }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="getSalesForTimeAndCity_sk(timeCity_year_selected, timeCity_month_selected, timeCity_city_selected)">Pesquisar</button>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h1 class="card-title text-center">{{ timeCity_netTotal }} €</h1>
            <p class="card-text text-center">Total Vendas</p>
          </div>
        </div>
      </div>
    </div>
    -->



    <!-- Vendas Mês e Produto
    <div class="text-center" style="margin-top: 10%;">
      <h4>Vendas Por Mês e Produto</h4>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Ano</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="timeProduct_year_selected" placeholder="" >
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Mês</span>
          </div>
          <input type="number" class="form-control" min="1" max="12" [(ngModel)]="timeProduct_month_selected" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Produto</span>
          </div>
          <select class="form-control" [(ngModel)]="timeProduct_product_selected">
            <option *ngFor="let product of products" [value]="product.description">{{ product.description }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="getSalesForTimeAndProduct_sk(timeProduct_year_selected, timeProduct_month_selected, timeProduct_product_selected)">Pesquisar</button>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h1 class="card-title text-center">{{ timeProduct_netTotal }} €</h1>
            <p class="card-text text-center">Total Vendas</p>
          </div>
        </div>
      </div>
    </div>
    -->


    <!-- Vendas Produto e Cidade
    <div class="text-center" style="margin-top: 10%;">
      <h4>Vendas Por Produto e Cidade</h4>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Produto</span>
          </div>
          <select class="form-control" [(ngModel)]="cityProduct_product_selected">
            <option *ngFor="let product of products" [value]="product.description">{{ product.description }}</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cidade</span>
          </div>
          <select class="form-control" [(ngModel)]="cityProduct_city_selected">
            <option *ngFor="let cidade of salesForCity_Data.labels" [value]="cidade">{{ cidade }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="getSalesForProductAndCity_sk(cityProduct_product_selected, cityProduct_city_selected)">Pesquisar</button>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h1 class="card-title text-center">{{ cityProduct_netTotal }} €</h1>
            <p class="card-text text-center">Total Vendas</p>
          </div>
        </div>
      </div>
    </div>
    -->

    <!-- Vendas Produto e Cidade e Tempo
    <div class="text-center" style="margin-top: 10%;">
      <h4>Vendas Por Produto, Cidade e Mês</h4>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Ano</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="cityProductTime_year_selected" placeholder="" >
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Mês</span>
          </div>
          <input type="number" class="form-control" min="1" max="12" [(ngModel)]="cityProductTime_month_selected" placeholder="">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Produto</span>
          </div>
          <select class="form-control" [(ngModel)]="cityProductTime_product_selected">
            <option *ngFor="let product of products" [value]="product.description">{{ product.description }}</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cidade</span>
          </div>
          <select class="form-control" [(ngModel)]="cityProductTime_city_selected">
            <option *ngFor="let cidade of salesForCity_Data.labels" [value]="cidade">{{ cidade }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="getSalesForProductAndCityAndTime_sk(cityProductTime_product_selected, cityProductTime_city_selected, cityProductTime_year_selected, cityProductTime_month_selected)">Pesquisar</button>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h1 class="card-title text-center">{{ cityProductTime_netTotal }} €</h1>
            <p class="card-text text-center">Total Vendas</p>
          </div>
        </div>
      </div>
    </div>
    -->


  <!-- } -->
  <div class="container" style="margin-top: 5%;">
    <!-- @if (view === 'salesPerMonth') { -->
      <div class="container text-center" style="padding: 5%;">
        <canvas baseChart
                [data]="salesPerMonth_Data"
                [options]="salesPerMonth_Options"
                [type]="salesPerMonth_Type">
        </canvas>
      </div>
    <!-- } -->

    <!-- @if (view === 'salesForCity') { -->
      <div class="container text-center" style="padding: 5%;">
        <canvas baseChart
                [data]="salesForCity_Data"
                [options]="salesForCity_Options"
                [type]="salesForCity_Type">
        </canvas>
      </div>
    <!-- } -->
  </div>




  <!-- Outras cenas -->

  <!-- @if (view === 'customers'){
    <table class="table" style="margin-top: 5%;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.customer_id }}</td>
          <td>{{ customer.company_name }}</td>
        </tr>
      </tbody>
    </table>
  }

  @if (view === 'products'){
    <table class="table" style="margin-top: 5%;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.code }}</td>
          <td>{{ product.description }}</td>
        </tr>
      </tbody>
    </table>
  } -->





</div>

</div>
